@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
/* contenido agregado abajo */

ul {
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.right-links {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
