/* Add CSS Styling */

.odd {
  background-color: lightpink;
  font-family: Verdana, Geneva, Tahoma, DejaVu Sans, sans-serif;
}

.second {
  font-size: 36px;
  color: blue;
}

.third {
  font-size: 24px;
}

.fourth {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 24px;
}
